<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>header</title>
</head>
<th:block th:fragment="header">
    <header class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <form method="get" th:action="@{/}">
                        <button class="nav-link text-white" type="submit"
                                th:text="${'主页'}"></button>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="get" th:action="@{/pdf/uploadFile}">
                        <button class="nav-link text-white" type="submit"
                                th:text="${'pdf在线转换'}"></button>
                    </form>
                </li>
            </ul>
        </div>
    </header>
</th:block>
</html>